In [1]:
%%capture
!pip install selenium

In [2]:
%%capture
!pip install webdriver-manager

In [48]:
# Importing All the Important Libraries 
import numpy as np
import pandas as pd
from time import sleep
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

In [71]:
Dates=pd.read_excel(r"./Dates.xlsx")

In [54]:
# Cross Check Extracting Dates 
Dates

        Date Month  year        Day  Day_in_month  DayofWeek  week
0 2023-03-31   Mar  2023     Friday            31          6     5
1 2023-03-30   Mar  2023   Thursday            30          5     5
2 2023-03-29   Mar  2023  Wednesday            29          4     5
3 2023-03-28   Mar  2023    Tuesday            28          3     5
4 2023-03-27   Mar  2023     Monday            27          2     5
5 2023-03-26   Mar  2023     Sunday            26          1     5
6 2023-03-25   Mar  2023   Saturday            25          7     4
7 2023-03-24   Mar  2023     Friday            24          6     4
8 2023-03-23   Mar  2023   Thursday            23          5     4
9 2023-03-22   Mar  2023  Wednesday            22          4     4

In [55]:
# Website which we will be using 
website='https://vegetablemarketprice.com/market/delhi/today'

In [56]:
# For getting into each Date
Data_list=[]
driver = webdriver.Chrome(options=webdriver.ChromeOptions() ) # opening the Browser
sleep(1)
driver.maximize_window() # Maximizing the windows
driver.get(website)     # Loading the Website
sleep(1)
for index in Dates.index:
    Desired_month= str(Dates['Month'][index]+ ' '+ str(Dates['year'][index]))
    week_row=Dates['week'][index]
    Day_cell=Dates['DayofWeek'][index]
    driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[2]/div[2]/div/div[1]").click()  #Calendar dropdown
    sleep(1)
    while driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div[1]/table/thead/tr[1]/th[2]").text != Desired_month :
        driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div[1]/table/thead/tr[1]/th[1]").click()
        sleep(0.1)
    driver.find_element(By.XPATH,f'/html/body/div[4]/div[2]/div[1]/table/tbody/tr[{week_row}]/td[{Day_cell}]').click() # Date Select 
    try:
        myElem = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, 'IdOfMyElement')))
        print("Page is ready!")
    except TimeoutException:
        print("Loading took too much time!")
    elements =driver.find_elements(By.CLASS_NAME,"todayVetableTableRows")
    sleep(2)
    for element in elements:
        id=element.get_attribute('id')
        Vegetable=driver.find_element(By.XPATH,'//*[@id="{}"]/td[2]'.format(str(id)))
        Wholesale=driver.find_element(By.XPATH,'//*[@id="{}"]/td[3]'.format(str(id)))
        Retail=   driver.find_element(By.XPATH,'//*[@id="{}"]/td[4]'.format(str(id)))
        Shopping= driver.find_element(By.XPATH,'//*[@id="{}"]/td[5]'.format(str(id)))
        Units=    driver.find_element(By.XPATH,'//*[@id="{}"]/td[6]'.format(str(id)))
        Date=     Dates['Date'][index]
        Data_list.append({'Date': Date,
            'Vegetable':Vegetable.text,
              'Wholesale Price':Wholesale.text,
              'Retail Price':Retail.text,
              'Shopping Mall Price':Shopping.text,
              'Units':Units.text})
        sleep(0.01)
print("Scrapping Done")

Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Scrapping Done

In [57]:
df=pd.DataFrame(Data_list)

In [58]:
# Checking How many Days Data We got 
df['Date'].unique()

array(['2023-03-31T00:00:00.000000000', '2023-03-30T00:00:00.000000000',
       '2023-03-29T00:00:00.000000000', '2023-03-28T00:00:00.000000000',
       '2023-03-27T00:00:00.000000000', '2023-03-26T00:00:00.000000000',
       '2023-03-25T00:00:00.000000000', '2023-03-24T00:00:00.000000000',
       '2023-03-23T00:00:00.000000000', '2023-03-22T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [59]:
# Data Cleaning And Pre Processing and Converting it into Different 
df["Wholesale Price"]=df["Wholesale Price"].str.replace('₹','').astype(np.int64)
df["Retail Price"]=df["Retail Price"].str.replace('₹','')
df["Shopping Mall Price"]=df["Shopping Mall Price"].str.replace('₹','')
df["Retail Price"]=(df["Retail Price"].str.split('-',expand=True)[1].astype(np.int64) +df["Retail Price"].str.split('-',expand=True)[0].astype(np.int64) )//2
df["Shopping Mall Price"]=(df["Shopping Mall Price"].str.split('-',expand=True)[1].astype(np.int64) +df["Shopping Mall Price"].str.split('-',expand=True)[0].astype(np.int64) )//2

In [60]:
# Cross Checking did we get proper data or not 
df

,Date,Vegetable,Wholesale Price,Retail Price,Shopping Mall Price,Units
0,2023-03-31,Onion Big,22,26,31,1kg
1,2023-03-31,Onion Small,56,67,79,1kg
2,2023-03-31,Tomato,21,25,30,1kg
3,2023-03-31,Green Chilli,38,46,54,1kg
4,2023-03-31,Beetroot,29,35,41,1kg
...,...,...,...,...,...,...
535,2023-03-22,Shallot (Pearl Onion),29,35,41,1kg
536,2023-03-22,Snake Gourd,29,35,41,1kg
537,2023-03-22,Sorrel Leaves,16,19,22,1kg
538,2023-03-22,Spinach,14,17,20,1kg
539,2023-03-22,Sweet Potato,38,46,54,1kg

In [61]:
# Change File Name Accoring to Choice
df.to_csv('Trial1.csv')